# dependencies
node_modules/
package-lock.json

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native builds + keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
.cache/

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS system files
.DS_Store
*.pem

# local env files
.env
.env*.local
backend/.env
frontend/.env

# TypeScript
*.tsbuildinfo
